body {
  font-size: 18px;
  font-family: Arial, sans-serif;
}
img {
  max-width: 100%;
}

.logo {
    
}

.logoImg {
  border-radius: 50% 25%;
  width: 50px;
  height: 50px;
  background-color: coral;
}

header {
    border-bottom: 4px solid coral;
}

@media (max-width: 600px) {
    .product {
        border: 2px solid black;
        padding: 10px;
        display: block;
        max-width: 300px;
        margin: auto;
    }
}

@media (min-width: 601px) {
    .product {
        border: 2px solid black;
        padding: 10px;
        max-width: 600px;
        display: flex;
    }
    .product__details {
        margin: 20px;
    }
}