body {
  font-family: arial, sans-serif;
  background-color: rgb(242, 230, 236);
  width: 700px;
  color: #333;
  font-size: 20px;
    margin: 0 auto;
}

h1 {
  color: rgb(177, 3, 87);
  text-align: center;
  font-size: 50px;
}

img {
  width: 50%;
  height: auto;
    border: 2px solid black;
    border-radius: 2px;
    display: block;
    margin: 20px auto;    
}

form {
  background-color: white;
  width: fit-content;
  margin: 30px auto;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input, button {
    padding: 6px;
    font-size: 16px;
    margin: 4px;
}

button {
    background-color: palevioletred;
    color: white;
    cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  columns: 3;
  padding-left: 20px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
  font-size: 20px;
}